:root {
    --blue: #00b4d8;
    --lightblue: #90e0ef;
    --white: #e5e5f7;
    --black: #212427;
}


.color-own-lg {
    background-image: linear-gradient(to top, var(--blue) 10%, var(--lightblue));
}

    .color-own-lg:hover {
        animation: fadeInOut 0.3s;
        background-image: linear-gradient(to top, var(--blue) 40%, var(--lightblue));
    }


@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

.txt-color-own {
    color: #212427 !important;
}

.txt-font-own {
    font-family: "Source Sans Pro", serif;
}

.txt-color-own:hover {
    animation: fadeInOut 5s;
}

.txt-hover-bold:hover {
    font-weight: bold;
}

.txt-color-own-bold {
    font-weight: bold;
}

.txt-color-own-normal {
    font-weight: normal;
}

.txt-fancy-bold {
    -webkit-text-stroke-width: thin;
}



.text-block-inside-img {
    right: 28vw !important;
    left: 28vw !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
    padding-left: 1%;
    padding-right: 1%;
    bottom: 1.8rem !important;
    background: rgba(21, 24, 27, 0.6);
}

.opacity-full {
    opacity: 1 !important;
}

.otocit {
    transform: scaleX(-1);
    display: inline-block;
}



/* Rozsirovatelny postcard - DALEJ SU STIAHNUTE STYLY Z INTERNETU A UPRAVENE  https://codepen.io/3psy0n/pen/LYpajmX*/

/* This pen 


.dark {
    background: #110f16;
}



a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}


.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    &.dark

{
    background-color: #18151f;
}

&.light {
    background-color: #e1e5ea;
}

.t-dark { /* farba textu v postcarde *//*
    color: #18151f;
}

.t-light { /* farba textu v postcarde *//*
    color: var(--white);
}

:is(a) {
    color: inherit;
}

.h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small {
    font-size: 80%;
}

.postcard__title {
    font-size: 1.75rem;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard__img_link {
    display: contents;
}

.postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    .tag__item

{
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
    &:hover

{
    background: rgba(83, 83, 83, 0.8);
}

}
}

&:before { /* prechod na druhotnu farbu v postcarde (v rohu) *//*
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-60deg, var(--lightblue), transparent 60%);
    opacity: 1;
    border-radius: 10px;
}

&:hover .postcard__bar {
    width: 100px;
}

}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
        .postcard__title

{
    font-size: 2rem;
}

.postcard__tagbox {
    justify-content: start;
}

.postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.postcard__text {
    padding: 3rem;
    width: 100%;
}

.media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
}

&:hover .postcard__img {
    transform: scale(1.1);
}

&:nth-child(2n+1) {
    flex-direction: row;
}

&:nth-child(2n+0) {
    flex-direction: row-reverse;
}

&:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
}

&:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}

}
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark {
        .postcard__text:before

{
    /*  background: #18151f;*//*
}

}

.postcard.light { /* pasik, ktory zatial nevyuzivam *//*
    .postcard__text:before

{
    /* background: #000000;*//*
}

}
}

/* ***************************/

/* *************Stiahnute styly******************* *//*

.container.gallery-container {
    background-color: var(--white);
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }


        .tz-gallery .lightbox img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        }

    .tz-gallery img {
        border-radius: 4px;
    }

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

/*********************************************/

