@inherits LayoutComponentBase

<div class="page">		<!-- Sablona pre main -->
	<div class="sidebar fixed-top ">
		<NavMenu  />		<!-- vlozena Sablona pre navbar -->
	</div>

	<main >
		<!--<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>-->

		<article class="content px-3">		<!-- Do @Body sa vlozi obsah prislusneho @Page -->
			@Body
		</article>
	</main>
</div>