@page "/todo"
@using MauiApp2.Data
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json

<h3>Todo (@todos.Count(todo => !todo.IsDone)):</h3>

<button class="btn btn-primary p-1" @onclick="Save">Save</button>
<button @onclick="Load">Load</button>

<ul class="list-unstyled">
	@foreach (var todo in todos)
	{
		<li>
			<input type="checkbox" @bind="todo.IsDone" />
			<input @bind="todo.Title" />
		</li>
	}
</ul>
<input placeholder="Something to do" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
<!--@if (checkNet())
{
	<p>Si pripojeny na internet</p>
} else
{
	<p>Niesi pripojeny na internet</p>
}
-->
@code {
	private List<TodoItem> todos = new();
	private string? newTodo;

	private void AddTodo()
	{
		if (!string.IsNullOrWhiteSpace(newTodo))
		{
			todos.Add(new TodoItem { Title = newTodo });
			newTodo = string.Empty;
		}
	}

	private Boolean checkNet()
	{
		var accessType = Connectivity.Current.NetworkAccess;
		return accessType is NetworkAccess.Internet;


	}

	private async Task Save()
	{
		var contents = JsonSerializer.Serialize(todos);
		var path = Path.Combine(FileSystem.AppDataDirectory, "todo.json");
		File.WriteAllText(path, contents);
		await App.Current.MainPage.DisplayAlert("List Saved", $"List has been saved to {path}", "OK");
	}
	private void Load()
	{
		var path = Path.Combine(FileSystem.AppDataDirectory, "todo.json");
		if (!File.Exists(path))
		{
			return;
		}
		var contents = File.ReadAllText(path);
		var savedItems = JsonSerializer.Deserialize<List<TodoItem>>(contents);
		todos.Clear();
		todos.AddRange(savedItems);
	}

}

